<h1>{{title}}</h1>

<form action="/groups" method="GET">
    <div >
    <label for="limit">Limit:</label>
    <input type="number" id="limit" name="limit">
    <label for="skip">Skip:</label>
    <input type="number" id="skip" name="skip">
    <label for="q">Group Name:</label>
    <input type="text" id="q" name="q">
    <input type="submit" value="Search">
    </div>
</form>
<h2>
Create a <a href="/groups/newGroup"> new group  </a>.
</h2>
<ul style="list-style: none;">
    {{#each this.groups}}
      <li>
          <h2><a href="/groups/{{id}}"> {{name}} </a></h2>
          <p>{{description}}</p>
          <form action = "/groups/{{id}}/delete" method = "POST">
              <input type="submit" value="Delete">
          </form>
      </li>
    {{/each}}
</ul>
