<h2>{{group.name}}</h2>
<div style="text-align:left">
    <p>Description: {{group.description}}</p>
</div>
<div style="text-align:left">
    <p>Total Duration: {{group.totalDuration}}</p>
</div>
<ul style="list-style: none;">
    {{#each group.movies}}
        <li>
            <p style=""> {{this.title}} </p>
            <a href="/movies/{{this.id}}"> <img src = {{this.image}} style="width:128px;height:176px;" ></a>
            <form action = "/groups/{{../group.id}}/movies/{{this.id}}/delete" method = "POST">
                    <input type="submit" value="Delete movie">
            </form>

            <div>
                <input type="button" value="Delete Movie With Script" id="m1">

                <script type="application/ecmascript">
                    const btn = document.querySelector("#m1")
                    btn.onclick = handleClick
                    async function handleClick() {
                        const partsOfThePath = location.pathname.split('/')
                        const url = `/api${location.pathname}/movies/{{this.id}}`
                       const options = {
                            method: 'DELETE',
                            headers: {
                                'Authorization': 'Bearer {{../user.token}}'
                            }
                        }
                        const response = await fetch(url, options)
                        if(response.ok) {
                            location = `/groups/${partsOfThePath[2]}`
                        }
                    }
                </script>
            </div>
        </li>
    {{/each}}
</ul>

<div class="row">
    <div class="dt-column">
        <form action = "/groups/{{group.id}}/delete" method = "POST">
            <input type="submit" value="Delete group">
        </form>
    </div>

    <div>
        <input type="button" value="Delete Group With Script" id="g1">

        <script type="application/ecmascript">
            const btn = document.querySelector("#g1")
            btn.onclick = handleClick
            async function handleClick() {
                const url = `/api${location.pathname}`
                const options = {
                    method: 'DELETE',
                    headers: {
                        'Authorization': 'Bearer {{user.token}}'
                    }
                }
                const response = await fetch(url, options)
                if(response.ok) {
                    location = '/groups'
                }
            }
        </script>
    </div>

    <div class="dt-column">
        <form action = "/groups/{{group.id}}/uptadeGroup" method = "GET">
            <input type="submit" value="Uptade group">
        </form>
    </div>
</div>







