<h1>{{title}}</h1>
Create a <a href="/groups/newGroup"> new group  </a>
<ul>
    {{#each this.groups}}
      <li>
          <h2><a href="/groups/{{id}}"> {{name}} </a></h2>
          <p>{{description}}</p>
          <form action = "/groups/{{id}}/delete" method = "POST">
              <input type="submit" value="Delete group">
          </form>
      </li>
    {{/each}}
</ul>
