<h1>{{title}}</h1>
<div>
    <p2>{{movie.title}}</p2>
    <div>
        <img src = {{movie.image}} style="width:128px;height:176px;" ></a>
    <div style="text-align:left">
        <p2>Description: {{movie.description}}</p2>
    <div style="text-align:left">
        <p3>Duration in minuts: {{movie.runtimeMins}}</p3>
    <div style="text-align:left">
        <p4>Directors: {{movie.directors}}</p4>
    <div style="text-align:left">
        <p5>Actors: {{movie.actors}}</p5>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>